.sortButton {
  color: var(--orange);
}

.sortButton::after {
  content: '';
  border: solid var(--orange);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  margin-left: 5px;
  margin-bottom: 2px;
  -webkit-transform: rotate(45deg);
}
